<!-- dans ce fichier vous êtes en train de travailler dans le fichier html dans la balise body -->

<style> 
  .container{
    margin: 0 auto;
    width: 960px;
  }
  section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
  }
</style>

<div class="container">
  <nav>
    Angular jour 1
  </nav>

  <section>

    <div>
      <h2> Créer un composant à la main  </h2>
      <premier> </premier>
    </div>
    <div>
        <h2> Exercice création  </h2>
        <deuxieme> </deuxieme>
    </div>
    <div>
        <h2> créer un composant via le terminal </h2>
        <troisieme> </troisieme>
        <p> vous avez une méthode plus créer des composants directement depuis le terminal : 70% du boulot </p>
        <ul>
          <li> créer le fichier .ts </li>
          <li> le déclarer dans le fichier app.module.ts </li>
        </ul>
        <p> lancer un nouveau terminal dans le dossier </p>
        <p> <code> ng generate component troisieme </code></p>
        <p> il crée un dossier spécial troisième </p>
    </div>
    <div>
        <h2> Exercice composant terminal </h2>
        <quatrieme> </quatrieme>
    </div>
    <div>
        <h2> Interpolation </h2>
        <cinquieme></cinquieme>
        <!-- je vais ouvrir le fichier scr/app/cinquieme/cinquieme.component.ts -->
    </div>
    <div>
        <h2> Exercice interpolation  </h2>
        <sixieme></sixieme>
    </div>
    <div>
        <h2> Septieme composant </h2>
        <septieme></septieme>
    </div>
    <div>
        <h2> Huitieme composant </h2>
        <huitieme> </huitieme>
    </div>

  </section>
</div>